[submodule "external/otto/otto-osss"]
	path = external/otto/otto-osss
	url = https://github.com/otto-systems/otto-osss.git
[submodule "external/otto/otto-crypto"]
	path = external/otto/otto-crypto
	url = https://github.com/otto-systems/otto-crypto.git
[submodule "external/otto/otto-protocol"]
	path = external/otto/otto-protocol
	url = https://github.com/otto-systems/otto-protocol.git
[submodule "external/otto/otto-kernel"]
	path = external/otto/otto-kernel
	url = https://github.com/otto-systems/otto-kernel.git
[submodule "external/otto/otto-command-service"]
	path = external/otto/otto-command-service
	url = https://github.com/otto-systems/otto-command-service.git
[submodule "external/otto/otto-server"]
	path = external/otto/otto-server
	url = https://github.com/otto-systems/otto-server.git
[submodule "external/otto/otto-update"]
	path = external/otto/otto-update
	url = https://github.com/otto-systems/otto-update.git
[submodule "external/otto/otto-api-extension"]
	path = external/otto/otto-api-extension
	url = https://github.com/otto-extensions/otto-api-extension.git
[submodule "external/otto/otto-auth-extension"]
	path = external/otto/otto-auth-extension
	url = https://github.com/otto-extensions/otto-auth-extension.git
[submodule "external/otto/otto-cli-extension"]
	path = external/otto/otto-cli-extension
	url = https://github.com/otto-extensions/otto-cli-extension.git
[submodule "external/otto/otto-debug-extension"]
	path = external/otto/otto-debug-extension
	url = https://github.com/otto-extensions/otto-debug-extension.git
[submodule "external/otto/otto-design-system"]
	path = external/otto/otto-design-system
	url = https://github.com/otto-extensions/otto-design-system.git
[submodule "external/otto/otto-file-extension"]
	path = external/otto/otto-file-extension
	url = https://github.com/otto-extensions/otto-file-extension.git
[submodule "external/otto/otto-extension-index"]
	path = external/otto/otto-extension-index
	url = https://github.com/otto-extensions/otto-extension-index.git
[submodule "external/otto/otto-extensions"]
	path = external/otto/otto-extensions
	url = https://github.com/otto-extensions/otto-extensions.git
[submodule "external/otto/otto-display-orchestrator"]
	path = external/otto/otto-display-orchestrator
	url = https://github.com/otto-extensions/otto-display-orchestrator.git
[submodule "external/otto/otto-update-ui"]
	path = external/otto/otto-update-ui
	url = https://github.com/otto-systems/otto-update-ui.git
[submodule "external/otto/otto-design-system-dev-ui"]
	path = external/otto/otto-design-system-dev-ui
	url = https://github.com/otto-extensions/otto-design-system-dev-ui.git
[submodule "external/otto/otto-display-control-system"]
	path = external/otto/otto-display-control-system
	url = https://github.com/ronaldarroyowatson/otto-display-control-system.git
[submodule "external/otto/otto-module-template"]
	path = external/otto/otto-module-template
	url = https://github.com/otto-extensions/otto-module-template.git
[submodule "external/otto/otto-sample-module"]
	path = external/otto/otto-sample-module
	url = https://github.com/otto-extensions/otto-sample-module.git
[submodule "external/otto/otto-data-extension"]
	path = external/otto/otto-data-extension
	url = https://github.com/otto-extensions/otto-data-extension.git
